<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Selamat Datang Di Chat Ruby
      </h4>

      <p>
       Hello!!
      </p>

      <hr />

      <p>
       Login untuk masuk atau Daftar Sekarang
      </p>
    </div>
  </div>
</div>
